* {
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-decoration: none;
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    cursor: scroll;
    box-sizing: border-box;
}

header {
    background-color: #1b5682;
}

header a {
    color: aliceblue;
}

header a:hover {
    color: #e95262;
}

.who {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
    background-color: #1b5682;
    padding-bottom: 40vh;
    padding-top: 15vh;
}

p.moto {
    font-size: 4vh;
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 3vh;
    padding-bottom: 20vh;
}

header h2 {
    font-size: 5vh;
    font-weight: 300;
    text-decoration: underline 3px;
    text-decoration-color: #e95262;
    color: #e95262;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    /* background-color: white; */
}

.rooster {
    width: 50vh;
    padding-bottom: 3vh;
}

.bio {
    text-align: center;
    margin: 20vh;
    padding-bottom: 0
}

.justified {
    text-align: justify;
    font-size: 3vh;
}

.hyperlink:hover {
    color: #e95262;
}

.curious {
    color: #e95262;
}

a.hyperlink:hover {
    opacity: 50%;
}

.summary {
    font-size: 4vh;
    margin: 20vh;
    padding: 12vh 0 12vh 0;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
    padding: 3vh;
    background-color: #1b5682;
}

aside p,
a,
b {
    color: aliceblue;
}

aside a:hover {
    opacity: 50%;
}

footer {
    background: #1b5682;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    width: 100%;
    position: static;
    margin: 0;
    padding: 6vh 0 3vh 0;
    /* Height of the footer */
}

footer div {
    margin-left: 6vh;
}

footer ul {
    margin: 0 6vh 0 0;
    flex-basis: 10%;
    flex: 1;
}

footer li {
    height: 30px;
    width: 30px;
}

svg:hover path {
    fill: #e95262;
}

.cursor {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #e95262;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cursor::after,
.cursor::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #e95262;
    border-radius: 50px;
}

.cursor::before {
    background-color: rgb(207, 207, 207);
    /* transform: translate(-50%, -50%) scale(3); */
}

.cursor.click::before {
    animation: click .5s ease-in-out forwards;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 12vh;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    margin-right: 3vh;
}

#myBtn:hover {
    background-color: #e95262;
    /* Add a dark-grey background on hover */
}

@keyframes click {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(20);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}

@media only screen and (max-width: 1170px) {
    header h2 {
        display: flex;
        justify-content: space-around;
    }
    .who {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2vh;
        padding: 0;
        padding-bottom: 35vh;
        padding-top: 25vh;
    }
    p.moto {
        font-size: 5vh;
        border: solid white 2px;
        background-color: white;
        padding: 20vh 0 20vh 0;
    }
    .rooster {
        width: 25vh;
        padding-bottom: 3vh;
        margin-top: 1vh;
    }
    .justified {
        font-size: 2.5vh;
        text-align: left;
    }
    .bio {
        margin: 0 6vh 0 6vh;
        font-size: 2vh;
        letter-spacing: .5px;
    }
    .summary {
        font-size: 3vh;
        margin: 12vh 6vh 12vh 6vh;
        text-align: center;
    }
    footer {
        display: flex;
        flex-wrap: nowrap;
    }
    footer p {
        text-align: center;
        /* display: flex;
        justify-content: space-between;
        flex-wrap: nowrap; */
        margin-left: 0;
        font-size: 2vh;
        flex: 1;
        flex-basis: 10%;
    }
    aside p {
        font-size: 2vh;
    }
    #myBtn {
        bottom: 30vh;
        /* Place the button at the bottom of the page */
        right: 15px;
        /* Place the button 30px from the right */
        color: white;
        /* Text color */
        margin-right: 3vh;
        background-color: #e95262;
    }
}