* {
    padding: 0;
    margin: 0;
    background-color: #000000;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.site-title-sub-container h1 {
    margin: 3vh 3vh 3vh 6vh;
    font-weight: 300;
    font-size: 3vh;
}

.info-sub-container {
    margin: 3vh 6vh 3vh 3vh;
    font-size: 3vh;
}

.info:hover {
    color: #e95262;
}

.section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    text-transform: uppercase;
    align-content: space-around;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 0 20px;
}

span {
    position: relative;
    display: block;
    cursor: pointer;
}

span:before,
span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
}

span:before {
    left: -2.5px;
}

span:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.footer {
    margin: auto 0 0 6vh;
    position: fixed;
    bottom: 3vh;
}

.icons {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.icons:hover {
    fill: #e95262;
}