* {
    padding: 0;
    margin: 0;
    background-color: white;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    cursor: none;
    /* hide scroll-bars with overflow */
    overflow: hidden;
}

.about-me-section img {
    max-width: 30px;
    height: 30px;
}