* {
    padding: 0;
    margin: 0;
    background-color: #000000;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: none;
    /* hide scroll-bars with overflow */
    overflow: hidden;
}


/* making scroll bar invisible */

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    height: 100px;
    /* background: #fce138; */
}

header h1 {
    margin: 3vh 3vh 3vh 6vh;
    font-weight: 300;
    font-size: 3vh;
}

header div {
    margin: 3vh 6vh 3vh 3vh;
    font-size: 3vh;
}

header div:hover {
    color: #e95262;
}

.portfolio-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    text-transform: uppercase;
    align-content: space-around;
}

.container li {
    display: inline-block;
    padding: 0 20px;
}

span {
    position: relative;
    display: block;
    cursor: none;
}

span:before,
span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
}

span:before {
    left: -2.5px;
}

span:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
    background: #e95262;
    width: 100%;
    transition: 0s;
}

footer {
    /* background: #fce138; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    /* Height of the footer */
}

footer div {
    margin-left: 6vh;
}

footer ul {
    margin: 0 6vh 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer li {
    height: 30px;
    width: 30px;
}

svg:hover path {
    fill: #e95262;
}

.cursor {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cursor::after,
.cursor::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;
}

.cursor::before {
    background-color: #e95262;
    /* transform: translate(-50%, -50%) scale(3); */
}

.cursor.click::before {
    animation: click .5s ease-in-out forwards;
}

@keyframes click {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(20);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}